<a href="https://colab.research.google.com/github/Xeesto/UEP/blob/dev/Kolokwium_2023_termin0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [95]:
# Ustaw wersję jako parametr
SPARK_VERSION="3.5.6"

# Instalacja OpenJDK 8
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# Pobranie Apache Spark z określoną wersją
!wget -q http://www.apache.org/dist/spark/spark-$SPARK_VERSION/spark-$SPARK_VERSION-bin-hadoop3.tgz

# Rozpakowanie archiwum Spark
!tar xf spark-$SPARK_VERSION-bin-hadoop3.tgz

# Instalacja findspark i pyspark
!pip install -q findspark==1.3.0
!pip install -q pyspark==$SPARK_VERSION

# Ustalamy zmienne środowiskowe.
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/spark-{SPARK_VERSION}-bin-hadoop3"

In [96]:
import findspark
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkContext

findspark.init(f"spark-{SPARK_VERSION}-bin-hadoop3")
sc = pyspark.SparkContext('local[*]')
spark = SparkSession.builder.appName('abc').getOrCreate()

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local[*]) created by __init__ at <ipython-input-2-7ffd166e450c>:7

**ZADANIE 1** ------------------------------------------

In [97]:
df = spark.read.csv('all_weekly_excess_deaths.csv', header=True, inferSchema=True, sep=';')

In [98]:
df.show()

+---------+---------+-----------+----------+----------+----+----+----+----------+------------+------------+----------------+----------------+----------------+---------------------+----------------------+------------------------+
|  country|   region|region_code|start_date|  end_date|days|year|week|population|total_deaths|covid_deaths| expected_deaths|   excess_deaths|non_covid_deaths|covid_deaths_per_100k|excess_deaths_per_100k|excess_deaths_pct_change|
+---------+---------+-----------+----------+----------+----+----+----+----------+------------+------------+----------------+----------------+----------------+---------------------+----------------------+------------------------+
|Australia|Australia|          0|01/01/2020|07/01/2020|   7|2020|   1|  25734100| 2497 deaths|         0.0|2463.11165730355|33.8883426964494|          2497.0|                  0.0|     0.131686527589655|      0.0137583461131225|
|Australia|Australia|          0|08/01/2020|14/01/2020|   7|2020|   2|  25734100| 2510 deaths|         0.0|2458.27832397007| 51.721676029927|          2510.0|                  0.0|     0.200984981133698|      0.0210397966436924|
|Australia|Australia|          0|15/01/2020|21/01/2020|   7|2020|   3|  25734100| 2501 deaths|         0.0|2436.44499063674|64.5550093632601|          2501.0|                  0.0|     0.250853961721063|      0.0264955743352897|
|Australia|Australia|          0|22/01/2020|28/01/2020|   7|2020|   4|  25734100| 2597 deaths|         0.0|2436.61165730341|160.388342696594|          2597.0|                  0.0|     0.623252193379967|       0.065824335287838|
|Australia|Australia|          0|29/01/2020|04/02/2020|   7|2020|   5|  25734100| 2510 deaths|         0.0|2425.94499063674| 84.055009363261|          2510.0|                  0.0|     0.326628906249921|      0.0346483575215772|
|Australia|Australia|          0|05/02/2020|11/02/2020|   7|2020|   6|  25734100| 2530 deaths|         0.0|2433.27832397007| 96.721676029927|          2530.0|                  0.0|     0.375850237738748|      0.0397495325861936|
|Australia|Australia|          0|12/02/2020|18/02/2020|   7|2020|   7|  25734100| 2613 deaths|         0.0|2453.44499063674|159.555009363261|          2613.0|                  0.0|      0.62001394788728|      0.0650330494354598|
|Australia|Australia|          0|19/02/2020|25/02/2020|   7|2020|   8|  25734100| 2608 deaths|         0.0|2473.27832397007|134.721676029927|          2608.0|                  0.0|     0.523514232205234|      0.0544708918216992|
|Australia|Australia|          0|26/02/2020|03/03/2020|   7|2020|   9|  25734100| 2678 deaths|         1.0|2444.93398876408|233.066011235922|          2677.0|  0.00388589459122332|     0.905669952459664|        0.09532609563571|
|Australia|Australia|          0|04/03/2020|10/03/2020|   7|2020|  10|  25734100| 2602 deaths|         2.0|2482.73398876408|119.266011235923|          2600.0|  0.00777178918244664|     0.463455147978453|      0.0480381755659995|
|Australia|Australia|          0|11/03/2020|17/03/2020|   7|2020|  11|  25734100| 2567 deaths|         2.0|2426.33398876408|140.666011235923|          2565.0|  0.00777178918244664|     0.546613292230631|      0.0579747107724338|
|Australia|Australia|          0|18/03/2020|24/03/2020|   7|2020|  12|  25734100| 2680 deaths|         3.0|2472.13398876408|207.866011235922|          2677.0|     0.01165768377367|     0.807745408760835|      0.0840836346980702|
|Australia|Australia|          0|25/03/2020|31/03/2020|   7|2020|  13|  25734100| 2759 deaths|        10.0|2472.13398876408|286.866011235922|          2749.0|   0.0388589459122332|      1.11473108146748|       0.116039831392528|
|Australia|Australia|          0|01/04/2020|07/04/2020|   7|2020|  14|  25734100| 2854 deaths|        27.0|2489.13398876408|364.866011235923|          2827.0|     0.10491915396303|       1.4178308595829|       0.146583515746008|
|Australia|Australia|          0|08/04/2020|14/04/2020|   7|2020|  15|  25734100| 2782 deaths|        17.0|2528.13398876408|253.866011235922|          2765.0|   0.0660602080507964|     0.986496559957108|       0.100416359403494|
|Australia|Australia|          0|15/04/2020|21/04/2020|   7|2020|  16|  25734100| 2672 deaths|         5.0|2546.13398876408|125.866011235923|          2667.0|   0.0194294729561166|     0.489102052280525|       0.049434166383765|
|Australia|Australia|          0|22/04/2020|28/04/2020|   7|2020|  17|  25734100| 2692 deaths|        22.0|2522.33398876408|169.666011235923|          2670.0|    0.085489681006913|     0.659304235376107|       0.067265481887693|
|Australia|Australia|          0|29/04/2020|05/05/2020|   7|2020|  18|  25734100| 2656 deaths|         8.0|2565.13398876408|90.8660112359216|          2648.0|   0.0310871567297865|     0.353095741587705|      0.0354234950821037|
|Australia|Australia|          0|06/05/2020|12/05/2020|   7|2020|  19|  25734100| 2806 deaths|         1.0|2684.33398876408|121.666011235922|          2805.0|  0.00388589459122332|     0.472781294997386|      0.0453244684697152|
|Australia|Australia|          0|13/05/2020|19/05/2020|   7|2020|  20|  25734100| 2694 deaths|         2.0|2692.13398876408|1.86601123592118|          2692.0|  0.00777178918244664|   0.00725112296882805|     6.93134607604673E-4|
+---------+---------+-----------+----------+----------+----+----+----+----------+------------+------------+----------------+----------------+----------------+---------------------+----------------------+------------------------+
only showing top 20 rows

In [99]:
from pyspark.sql.functions import col, substring,split

In [100]:
# Podziel tekst w kolumnie total_deaths na dwie części: przed i po pierwszej spacji
split_col = split(col("total_deaths"), " ", 2)

# Nowa kolumna z częścią przed spacją
df = df.withColumn("total_deaths_number", split_col.getItem(0))

In [130]:
df.show()

+---------+---------+-----------+----------+----------+----+----+----+----------+------------+------------+----------------+----------------+----------------+---------------------+----------------------+------------------------+-------------------+
|  country|   region|region_code|start_date|  end_date|days|year|week|population|total_deaths|covid_deaths| expected_deaths|   excess_deaths|non_covid_deaths|covid_deaths_per_100k|excess_deaths_per_100k|excess_deaths_pct_change|total_deaths_number|
+---------+---------+-----------+----------+----------+----+----+----+----------+------------+------------+----------------+----------------+----------------+---------------------+----------------------+------------------------+-------------------+
|Australia|Australia|          0|01/01/2020|07/01/2020|   7|2020|   1|  25734100| 2497 deaths|         0.0|2463.11165730355|33.8883426964494|          2497.0|                  0.0|     0.131686527589655|      0.0137583461131225|               2497|
|Australia|Australia|          0|08/01/2020|14/01/2020|   7|2020|   2|  25734100| 2510 deaths|         0.0|2458.27832397007| 51.721676029927|          2510.0|                  0.0|     0.200984981133698|      0.0210397966436924|               2510|
|Australia|Australia|          0|15/01/2020|21/01/2020|   7|2020|   3|  25734100| 2501 deaths|         0.0|2436.44499063674|64.5550093632601|          2501.0|                  0.0|     0.250853961721063|      0.0264955743352897|               2501|
|Australia|Australia|          0|22/01/2020|28/01/2020|   7|2020|   4|  25734100| 2597 deaths|         0.0|2436.61165730341|160.388342696594|          2597.0|                  0.0|     0.623252193379967|       0.065824335287838|               2597|
|Australia|Australia|          0|29/01/2020|04/02/2020|   7|2020|   5|  25734100| 2510 deaths|         0.0|2425.94499063674| 84.055009363261|          2510.0|                  0.0|     0.326628906249921|      0.0346483575215772|               2510|
|Australia|Australia|          0|05/02/2020|11/02/2020|   7|2020|   6|  25734100| 2530 deaths|         0.0|2433.27832397007| 96.721676029927|          2530.0|                  0.0|     0.375850237738748|      0.0397495325861936|               2530|
|Australia|Australia|          0|12/02/2020|18/02/2020|   7|2020|   7|  25734100| 2613 deaths|         0.0|2453.44499063674|159.555009363261|          2613.0|                  0.0|      0.62001394788728|      0.0650330494354598|               2613|
|Australia|Australia|          0|19/02/2020|25/02/2020|   7|2020|   8|  25734100| 2608 deaths|         0.0|2473.27832397007|134.721676029927|          2608.0|                  0.0|     0.523514232205234|      0.0544708918216992|               2608|
|Australia|Australia|          0|26/02/2020|03/03/2020|   7|2020|   9|  25734100| 2678 deaths|         1.0|2444.93398876408|233.066011235922|          2677.0|  0.00388589459122332|     0.905669952459664|        0.09532609563571|               2678|
|Australia|Australia|          0|04/03/2020|10/03/2020|   7|2020|  10|  25734100| 2602 deaths|         2.0|2482.73398876408|119.266011235923|          2600.0|  0.00777178918244664|     0.463455147978453|      0.0480381755659995|               2602|
|Australia|Australia|          0|11/03/2020|17/03/2020|   7|2020|  11|  25734100| 2567 deaths|         2.0|2426.33398876408|140.666011235923|          2565.0|  0.00777178918244664|     0.546613292230631|      0.0579747107724338|               2567|
|Australia|Australia|          0|18/03/2020|24/03/2020|   7|2020|  12|  25734100| 2680 deaths|         3.0|2472.13398876408|207.866011235922|          2677.0|     0.01165768377367|     0.807745408760835|      0.0840836346980702|               2680|
|Australia|Australia|          0|25/03/2020|31/03/2020|   7|2020|  13|  25734100| 2759 deaths|        10.0|2472.13398876408|286.866011235922|          2749.0|   0.0388589459122332|      1.11473108146748|       0.116039831392528|               2759|
|Australia|Australia|          0|01/04/2020|07/04/2020|   7|2020|  14|  25734100| 2854 deaths|        27.0|2489.13398876408|364.866011235923|          2827.0|     0.10491915396303|       1.4178308595829|       0.146583515746008|               2854|
|Australia|Australia|          0|08/04/2020|14/04/2020|   7|2020|  15|  25734100| 2782 deaths|        17.0|2528.13398876408|253.866011235922|          2765.0|   0.0660602080507964|     0.986496559957108|       0.100416359403494|               2782|
|Australia|Australia|          0|15/04/2020|21/04/2020|   7|2020|  16|  25734100| 2672 deaths|         5.0|2546.13398876408|125.866011235923|          2667.0|   0.0194294729561166|     0.489102052280525|       0.049434166383765|               2672|
|Australia|Australia|          0|22/04/2020|28/04/2020|   7|2020|  17|  25734100| 2692 deaths|        22.0|2522.33398876408|169.666011235923|          2670.0|    0.085489681006913|     0.659304235376107|       0.067265481887693|               2692|
|Australia|Australia|          0|29/04/2020|05/05/2020|   7|2020|  18|  25734100| 2656 deaths|         8.0|2565.13398876408|90.8660112359216|          2648.0|   0.0310871567297865|     0.353095741587705|      0.0354234950821037|               2656|
|Australia|Australia|          0|06/05/2020|12/05/2020|   7|2020|  19|  25734100| 2806 deaths|         1.0|2684.33398876408|121.666011235922|          2805.0|  0.00388589459122332|     0.472781294997386|      0.0453244684697152|               2806|
|Australia|Australia|          0|13/05/2020|19/05/2020|   7|2020|  20|  25734100| 2694 deaths|         2.0|2692.13398876408|1.86601123592118|          2692.0|  0.00777178918244664|   0.00725112296882805|     6.93134607604673E-4|               2694|
+---------+---------+-----------+----------+----------+----+----+----+----------+------------+------------+----------------+----------------+----------------+---------------------+----------------------+------------------------+-------------------+
only showing top 20 rows

In [102]:
df.printSchema()

root
 |-- country: string (nullable = true)
 |-- region: string (nullable = true)
 |-- region_code: string (nullable = true)
 |-- start_date: string (nullable = true)
 |-- end_date: string (nullable = true)
 |-- days: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- week: integer (nullable = true)
 |-- population: integer (nullable = true)
 |-- total_deaths: string (nullable = true)
 |-- covid_deaths: double (nullable = true)
 |-- expected_deaths: double (nullable = true)
 |-- excess_deaths: double (nullable = true)
 |-- non_covid_deaths: double (nullable = true)
 |-- covid_deaths_per_100k: double (nullable = true)
 |-- excess_deaths_per_100k: double (nullable = true)
 |-- excess_deaths_pct_change: double (nullable = true)
 |-- total_deaths_number: string (nullable = true)

In [103]:
df = df.withColumn("total_deaths_number", col("total_deaths_number").cast("int"))

In [104]:
# Napisałem samemu - potrzebne grupowanie po regionie
df_total = df.select('total_deaths_number', 'country', 'region').orderBy('total_deaths_number', ascending=False)

In [105]:
df_total.show()

+-------------------+-------------+-------------+
|total_deaths_number|      country|       region|
+-------------------+-------------+-------------+
|              86388|United States|United States|
|              85319|United States|United States|
|              84896|United States|United States|
|              84420|United States|United States|
|              83054|United States|United States|
|              82186|United States|United States|
|              81746|United States|United States|
|              79114|United States|United States|
|              77568|United States|United States|
|              77003|United States|United States|
|              76815|United States|United States|
|              74346|United States|United States|
|              73906|United States|United States|
|              73536|United States|United States|
|              72288|United States|United States|
|              72025|United States|United States|
|              69306|United States|United States|
|              69127|United States|United States|
|              69090|United States|United States|
|              67442|United States|United States|
+-------------------+-------------+-------------+
only showing top 20 rows

In [148]:
from pyspark.sql.functions import max

df_total = (
       df.select('total_deaths_number', 'country', 'region')
      .groupBy('region')
      .agg(sum('total_deaths_number').alias('all_week_deaths'))
      .orderBy('all_week_deaths', ascending=False)
      .limit(5)
)

df_total.show()

+-------------+---------------+
|       region|all_week_deaths|
+-------------+---------------+
|United States|        4443319|
|       Mexico|        1389879|
|      Germany|        1327556|
|      Britain|         946967|
|       France|         873266|
+-------------+---------------+

In [149]:
from pyspark.sql.functions import lit
df_top_deaths = df_total.withColumn("tuple_added", lit("TOTAL DEATHS IN 2020"))

In [150]:
from pyspark.sql import functions as F

In [151]:
# Dodanie kolumny ze średnią zgonów
df_mean = (
    df.groupBy('region')
      .agg(F.round(F.mean('total_deaths_number'), 2).alias('avg_last_week_deaths'))
)

In [152]:
df_mean.show()

+--------------------+--------------------+
|              region|avg_last_week_deaths|
+--------------------+--------------------+
|                Utah|               427.9|
|              Hawaii|              232.93|
|    Pays de la Loire|              715.57|
|           Minnesota|              981.68|
|              Madrid|             1043.63|
|              Sweden|             1836.54|
|                Ohio|             2777.99|
|            Coquimbo|               93.97|
|            Asturias|              275.75|
|           Balearics|              163.72|
|             Britain|             13528.1|
|              Biobio|              290.91|
|             Corsica|               63.96|
|              Aragón|              257.49|
|            Lombardy|             2530.57|
|             Germany|            19239.94|
|Bourgogne-Franche...|               652.3|
|            Arkansas|              737.31|
|              Oregon|              780.54|
|           Cantabria|                93.9|
+--------------------+--------------------+
only showing top 20 rows

In [153]:
# Złącznie z poprzednim wynikiem
df_total_with_avg = df_total.join(df_mean, on='region', how='left')

In [154]:
df_total_with_avg.show()

+-------------+---------------+--------------------+
|       region|all_week_deaths|avg_last_week_deaths|
+-------------+---------------+--------------------+
|United States|        4443319|            65342.93|
|       Mexico|        1389879|            21382.75|
|      Germany|        1327556|            19239.94|
|      Britain|         946967|             13528.1|
|       France|         873266|            12656.03|
+-------------+---------------+--------------------+

In [155]:
df_min_max = df.groupBy('region').agg(
    F.min('total_deaths_number').alias('min_total_deaths'),
    F.max('total_deaths_number').alias('max_total_deaths')
)

df_min_max.show()

+--------------------+----------------+----------------+
|              region|min_total_deaths|max_total_deaths|
+--------------------+----------------+----------------+
|                Utah|             364|             557|
|              Hawaii|             200|             281|
|    Pays de la Loire|             236|             874|
|           Minnesota|             797|            1406|
|              Madrid|             257|            4599|
|              Sweden|            1486|            2569|
|                Ohio|            2363|            4245|
|            Coquimbo|              19|             131|
|            Asturias|              79|             437|
|           Balearics|              50|             224|
|             Britain|            9023|           24691|
|              Biobio|              96|             377|
|             Corsica|              16|              89|
|              Aragón|              86|             458|
|            Lombardy|             708|            7823|
|             Germany|           16166|           25493|
|Bourgogne-Franche...|             232|             951|
|            Arkansas|             570|             986|
|              Oregon|             683|             988|
|           Cantabria|              35|             140|
+--------------------+----------------+----------------+
only showing top 20 rows

In [156]:
df_total_with_min_max = df_total_with_avg.join(df_min_max, on='region', how='left')

In [157]:
df_total_with_min_max.show()

+-------------+---------------+--------------------+----------------+----------------+
|       region|all_week_deaths|avg_last_week_deaths|min_total_deaths|max_total_deaths|
+-------------+---------------+--------------------+----------------+----------------+
|United States|        4443319|            65342.93|           50995|           86388|
|       Mexico|        1389879|            21382.75|           13170|           43652|
|      Germany|        1327556|            19239.94|           16166|           25493|
|      Britain|         946967|             13528.1|            9023|           24691|
|       France|         873266|            12656.03|            3993|           18767|
+-------------+---------------+--------------------+----------------+----------------+