<a href="https://colab.research.google.com/github/Xeesto/UEP/blob/dev/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MultiLabelBinarizer

In [ ]:
# pip install kagglehub[pandas-datasets]
import kagglehub
from kagglehub import KaggleDatasetAdapter

# Set the path to the file you'd like to load
file_path = "train.csv"

# Load the latest version
df = kagglehub.load_dataset(KaggleDatasetAdapter.PANDAS, "parisrohan/credit-score-classification", file_path,)

print("First 5 records:", df.head())

print(df.shape)

<ipython-input-2-036c7161ed4c>:9: DeprecationWarning: load_dataset is deprecated and will be removed in future version.
  df = kagglehub.load_dataset(KaggleDatasetAdapter.PANDAS, "parisrohan/credit-score-classification", file_path,)

Downloading from https://www.kaggle.com/api/v1/datasets/download/parisrohan/credit-score-classification?dataset_version_number=1&file_name=train.csv...

100%|██████████| 6.09M/6.09M [00:01<00:00, 6.07MB/s]

Extracting zip of train.csv...

First 5 records:        ID Customer_ID     Month           Name   Age          SSN Occupation  \
0  0x1602   CUS_0xd40   January  Aaron Maashoh    23  821-00-0265  Scientist
1  0x1603   CUS_0xd40  February  Aaron Maashoh    23  821-00-0265  Scientist
2  0x1604   CUS_0xd40     March  Aaron Maashoh  -500  821-00-0265  Scientist
3  0x1605   CUS_0xd40     April  Aaron Maashoh    23  821-00-0265  Scientist
4  0x1606   CUS_0xd40       May  Aaron Maashoh    23  821-00-0265  Scientist

  Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  Credit_Mix  \
0      19114.12            1824.843333                  3  ...           _
1      19114.12                    NaN                  3  ...        Good
2      19114.12                    NaN                  3  ...        Good
3      19114.12                    NaN                  3  ...        Good
4      19114.12            1824.843333                  3  ...        Good

   Outstanding_Debt Credit_Utilization_Ratio     Credit_History_Age  \
0            809.98                26.822620  22 Years and 1 Months
1            809.98                31.944960                    NaN
2            809.98                28.609352  22 Years and 3 Months
3            809.98                31.377862  22 Years and 4 Months
4            809.98                24.797347  22 Years and 5 Months

   Payment_of_Min_Amount Total_EMI_per_month Amount_invested_monthly  \
0                     No           49.574949       80.41529543900253
1                     No           49.574949      118.28022162236736
2                     No           49.574949         81.699521264648
3                     No           49.574949       199.4580743910713
4                     No           49.574949      41.420153086217326

                  Payment_Behaviour     Monthly_Balance Credit_Score
0   High_spent_Small_value_payments  312.49408867943663         Good
1    Low_spent_Large_value_payments  284.62916249607184         Good
2   Low_spent_Medium_value_payments   331.2098628537912         Good
3    Low_spent_Small_value_payments  223.45130972736786         Good
4  High_spent_Medium_value_payments  341.48923103222177         Good

[5 rows x 28 columns]
(100000, 28)

/usr/local/lib/python3.11/dist-packages/kagglehub/pandas_datasets.py:91: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  result = read_function(

In [ ]:
# Usuń duplikaty oraz usuń kolumny, które nie będą wykorzystywane w analizie ['ID','Customer_ID','SSN','Name']

df = df.drop_duplicates()

print(df.shape)

###

df = df.drop(columns=['ID','Customer_ID', 'SSN', 'Name'])

print(df.shape)

(100000, 28)
(100000, 24)

In [ ]:
# Usuwanie znaków '-' i '_' z nagłówków kolumn
df.columns = df.columns.str.replace('-', '').str.replace('_', '')

# Zamiana pustych ciągów na NaN
df.replace("", np.nan, inplace=True)

# Wyświetlanie pierwszych 10 wierszy
print(df.head(10))

      Month   Age Occupation AnnualIncome  MonthlyInhandSalary  \
0   January    23  Scientist     19114.12          1824.843333
1  February    23  Scientist     19114.12                  NaN
2     March  -500  Scientist     19114.12                  NaN
3     April    23  Scientist     19114.12                  NaN
4       May    23  Scientist     19114.12          1824.843333
5      June    23  Scientist     19114.12                  NaN
6      July    23  Scientist     19114.12          1824.843333
7    August    23  Scientist     19114.12          1824.843333
8   January   28_    _______     34847.84          3037.986667
9  February    28    Teacher     34847.84          3037.986667

   NumBankAccounts  NumCreditCard  InterestRate NumofLoan  \
0                3              4             3         4
1                3              4             3         4
2                3              4             3         4
3                3              4             3         4
4                3              4             3         4
5                3              4             3         4
6                3              4             3         4
7                3              4             3         4
8                2              4             6         1
9                2              4             6         1

                                          TypeofLoan  ...  CreditMix  \
0  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...          _
1  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
2  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
3  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
4  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
5  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
6  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
7  Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
8                                Credit-Builder Loan  ...       Good
9                                Credit-Builder Loan  ...       Good

  OutstandingDebt CreditUtilizationRatio       CreditHistoryAge  \
0          809.98              26.822620  22 Years and 1 Months
1          809.98              31.944960                    NaN
2          809.98              28.609352  22 Years and 3 Months
3          809.98              31.377862  22 Years and 4 Months
4          809.98              24.797347  22 Years and 5 Months
5          809.98              27.262259  22 Years and 6 Months
6          809.98              22.537593  22 Years and 7 Months
7          809.98              23.933795                    NaN
8          605.03              24.464031  26 Years and 7 Months
9          605.03              38.550848  26 Years and 8 Months

  PaymentofMinAmount TotalEMIpermonth  Amountinvestedmonthly  \
0                 No        49.574949      80.41529543900253
1                 No        49.574949     118.28022162236736
2                 No        49.574949        81.699521264648
3                 No        49.574949      199.4580743910713
4                 No        49.574949     41.420153086217326
5                 No        49.574949     62.430172331195294
6                 No        49.574949      178.3440674122349
7                 No        49.574949     24.785216509052056
8                 No        18.816215       104.291825168246
9                 No        18.816215      40.39123782853101

                   PaymentBehaviour      MonthlyBalance  CreditScore
0   High_spent_Small_value_payments  312.49408867943663         Good
1    Low_spent_Large_value_payments  284.62916249607184         Good
2   Low_spent_Medium_value_payments   331.2098628537912         Good
3    Low_spent_Small_value_payments  223.45130972736786         Good
4  High_spent_Medium_value_payments  341.48923103222177         Good
5                            !@9#%8   340.4792117872438         Good
6    Low_spent_Small_value_payments   244.5653167062043         Good
7  High_spent_Medium_value_payments  358.12416760938714     Standard
8    Low_spent_Small_value_payments  470.69062692529184     Standard
9   High_spent_Large_value_payments   484.5912142650067         Good

[10 rows x 24 columns]

In [ ]:
print(df["Month"].unique())

[1 2 3 4 5 6 7 8]

In [ ]:
# Zmień nazwy miesiecy na zmienne liczbowe zgodnie z kolejnością miesięcy

# Utworzenie słownika
month_mapping = {
    "January": 1, "February": 2, "March": 3, "April": 4, "May": 5, "June": 6,
    "July": 7, "August": 8, "September": 9, "October": 10, "November": 11, "December": 12
}

# Mapowanie kolumny "Month"
df["Month"] = df["Month"].replace(month_mapping)

# Wyświetlenie wyniku
print(df.head(20))

    Month   Age Occupation AnnualIncome  MonthlyInhandSalary  NumBankAccounts  \
0       1    23  Scientist     19114.12          1824.843333                3
1       2    23  Scientist     19114.12                  NaN                3
2       3  -500  Scientist     19114.12                  NaN                3
3       4    23  Scientist     19114.12                  NaN                3
4       5    23  Scientist     19114.12          1824.843333                3
5       6    23  Scientist     19114.12                  NaN                3
6       7    23  Scientist     19114.12          1824.843333                3
7       8    23  Scientist     19114.12          1824.843333                3
8       1   28_    _______     34847.84          3037.986667                2
9       2    28    Teacher     34847.84          3037.986667                2
10      3    28    Teacher    34847.84_          3037.986667                2
11      4    28    Teacher     34847.84                  NaN                2
12      5    28    Teacher     34847.84          3037.986667                2
13      6    28    Teacher     34847.84          3037.986667                2
14      7    28    Teacher     34847.84                  NaN                2
15      8    28    Teacher     34847.84          3037.986667                2
16      1    34    _______    143162.64         12187.220000                1
17      2    34   Engineer    143162.64         12187.220000                1
18      3    34    _______    143162.64                  NaN                1
19      4    34   Engineer    143162.64         12187.220000                1

    NumCreditCard  InterestRate NumofLoan  \
0               4             3         4
1               4             3         4
2               4             3         4
3               4             3         4
4               4             3         4
5               4             3         4
6               4             3         4
7               4             3         4
8               4             6         1
9               4             6         1
10           1385             6         1
11              4             6         1
12              4             6         1
13              4             6         1
14              4             6         1
15              4             6         1
16              5             8         3
17              5             8         3
18              5             8         3
19              5             8         3

                                           TypeofLoan  ...  CreditMix  \
0   Auto Loan, Credit-Builder Loan, Personal Loan,...  ...          _
1   Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
2   Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
3   Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
4   Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
5   Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
6   Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
7   Auto Loan, Credit-Builder Loan, Personal Loan,...  ...       Good
8                                 Credit-Builder Loan  ...       Good
9                                 Credit-Builder Loan  ...       Good
10                                Credit-Builder Loan  ...          _
11                                Credit-Builder Loan  ...       Good
12                                Credit-Builder Loan  ...       Good
13                                Credit-Builder Loan  ...       Good
14                                Credit-Builder Loan  ...       Good
15                                Credit-Builder Loan  ...       Good
16            Auto Loan, Auto Loan, and Not Specified  ...       Good
17            Auto Loan, Auto Loan, and Not Specified  ...       Good
18            Auto Loan, Auto Loan, and Not Specified  ...       Good
19            Auto Loan, Auto Loan, and Not Specified  ...          _

   OutstandingDebt CreditUtilizationRatio        CreditHistoryAge  \
0           809.98              26.822620   22 Years and 1 Months
1           809.98              31.944960                     NaN
2           809.98              28.609352   22 Years and 3 Months
3           809.98              31.377862   22 Years and 4 Months
4           809.98              24.797347   22 Years and 5 Months
5           809.98              27.262259   22 Years and 6 Months
6           809.98              22.537593   22 Years and 7 Months
7           809.98              23.933795                     NaN
8           605.03              24.464031   26 Years and 7 Months
9           605.03              38.550848   26 Years and 8 Months
10          605.03              33.224951   26 Years and 9 Months
11          605.03              39.182656  26 Years and 10 Months
12          605.03              34.977895  26 Years and 11 Months
13          605.03              33.381010   27 Years and 0 Months
14          605.03              31.131702   27 Years and 1 Months
15          605.03              32.933856   27 Years and 2 Months
16         1303.01              28.616735   17 Years and 9 Months
17         1303.01              41.702573  17 Years and 10 Months
18         1303.01              26.519815  17 Years and 11 Months
19         1303.01              39.501648                     NaN

   PaymentofMinAmount TotalEMIpermonth  Amountinvestedmonthly  \
0                  No        49.574949      80.41529543900253
1                  No        49.574949     118.28022162236736
2                  No        49.574949        81.699521264648
3                  No        49.574949      199.4580743910713
4                  No        49.574949     41.420153086217326
5                  No        49.574949     62.430172331195294
6                  No        49.574949      178.3440674122349
7                  No        49.574949     24.785216509052056
8                  No        18.816215       104.291825168246
9                  No        18.816215      40.39123782853101
10                 No        18.816215      58.51597569589465
11                 No        18.816215      99.30622796053305
12                 No        18.816215     130.11542024292334
13                 No        18.816215     43.477190144355745
14                 NM        18.816215      70.10177420755677
15                 No        18.816215     218.90434353388733
16                 No       246.992319       168.413702679309
17                 No       246.992319     232.86038375993544
18                 No       246.992319              __10000__
19                 No       246.992319      825.2162699393922

                    PaymentBehaviour      MonthlyBalance  CreditScore
0    High_spent_Small_value_payments  312.49408867943663         Good
1     Low_spent_Large_value_payments  284.62916249607184         Good
2    Low_spent_Medium_value_payments   331.2098628537912         Good
3     Low_spent_Small_value_payments  223.45130972736786         Good
4   High_spent_Medium_value_payments  341.48923103222177         Good
5                             !@9#%8   340.4792117872438         Good
6     Low_spent_Small_value_payments   244.5653167062043         Good
7   High_spent_Medium_value_payments  358.12416760938714     Standard
8     Low_spent_Small_value_payments  470.69062692529184     Standard
9    High_spent_Large_value_payments   484.5912142650067         Good
10   High_spent_Large_value_payments  466.46647639764313     Standard
11   Low_spent_Medium_value_payments   465.6762241330048         Good
12    Low_spent_Small_value_payments   444.8670318506144         Good
13   High_spent_Large_value_payments    481.505261949182         Good
14  High_spent_Medium_value_payments   464.8806778859809         Good
15    Low_spent_Small_value_payments  356.07810855965045         Good
16                            !@9#%8  1043.3159778669492         Good
17   High_spent_Small_value_payments   998.8692967863226         Good
18   High_spent_Small_value_payments    715.741367403555         Good
19   Low_spent_Medium_value_payments   426.5134106068658         Good

[20 rows x 24 columns]

<ipython-input-5-669ebe68bd68>:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Month"] = df["Month"].replace(month_mapping)

In [ ]:
# Zakoduj zmienne tekstowe: 'Occupation', 'Type_of_Loan', 'Payment_Behaviour', 'Credit_Mix', użyj LabelEncodera

from sklearn.preprocessing import LabelEncoder

# stwórz obiekt enkodera
le = LabelEncoder()

# Zakodowanie kolumn
df['Occupation'] = le.fit_transform(df['Occupation'])
df['Type_of_Loan'] = le.fit_transform(df['Type_of_Loan'])
df['Payment_Behaviour'] = le.fit_transform(df['Payment_Behaviour'])
df['Credit_Mix'] = le.fit_transform(df['Credit_Mix'])

# sprawdź transformacje
df.head()

KeyError: 'Type_of_Loan'

In [ ]:
# Wiek - odciąć wszystko co jest poniżej zera i uzupełnić średnim wiekiem